
.modal {
    z-index: 10;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(145, 145, 145, 0.6);
}

.form {
    background-color: white;
    box-shadow: 0px 0px 10px 1px gray;
    height: 300px;
    width: 50%;
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
}