
.modal {
    z-index: 10;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
    background-color: rgba(145, 145, 145, 0.6);
}

.form {
    background-color: white;
    box-shadow: 0px 0px 10px 1px gray;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 20px;
    max-width: 800px;
    z-index: 11;
    margin: auto;
}

.buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
    /* max-width: 150px; */
    /* margin-left: 59%; */
}